:root {
  --results-columns: 2;
}

.list-gifs {
  column-count: var(--results-columns);
  column-gap: 10px;
  row-gap: 10px;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 4;
  }
}